*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* State Primary*/ 
    --Primary:#0D6EFD;
    --Primary_tint_3:#AECFFE;
    --Primary_tint_5:#79AEFE;
    --Primary_shade_5:#013075;
    --Primary_shade_7:#00183B;
    --Primary_shade_8:#287EFD;
   
    /* Secondry */
    --Secondry:#FFC51A;
    --Secondry_tint3:#FFECB3;
    
    /* Neutral */
    --Neutral_White:#FFFFFF;
    --Neutral_Gray-1:#E9EAEE;
    --Neutral_Gray-2:#CBCED7;
    --Neutral_Gray-3:#AEB2C0;
    --Neutral_Gray-4:#9095AA;
    --Neutral_Gray-5:#737993;
    --Neutral_Gray-6:#5B6176;
    --Neutral_Gray-7:#444859;
    --Neutral_Gray-8:#2E303B;
    --Neutral_Gray-9:#17181E;
    --Neutral_black-10:#0F0F0F;

    /**/
    --Third:#F6F6F6;
    --black:#000000;

}

body {
    /* font-family:;
    font-size: 16x; */
    color:var(--Neutral_White);
    direction: rtl;
}


.container {
    max-width: 1224px !important;
    margin: 50px auto !important;
    width: 100% !important;

}


/* ---- /// header /// --- */

img{
    width: 100%;
}
a{

    text-decoration: none;
}
ul{
    list-style-type: none;
}

.nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-top: 1rem;
    border-radius: 12px;
    height: 140px;
}

.nav__Right{  
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__logo {
    width: 198px;
    height: 24px;
}


.nav__search-bar {
    width: 439px;
    height: 48px;
    margin: 0 20px;
}

.nav__search-bar--search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--Neutral_Gray-1);
    background-color:var(--Neutral_Gray-1);
    border-radius: 12px;
    color: var(--Neutral_Gray-5);
}

.nav__left {
    justify-content: end;
    display: flex;
    align-items: center;

}

.nav__left--btn {
    width: 360px;
    height: 48px;
}

.button {
   border-radius: 12px; 
   padding: 8px 16px;
   cursor: pointer;
   text-decoration: none;
   border: none;
}

.button-first {
    background-color: var(--Primary);
    color: var(--Neutral_White);
    
}

.button-secondary {
    color: var(--Neutral_black-10);
    border: 1px solid var(--Neutral_Gray-8);
}



.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 20px;
    text-decoration: none;
    color: var(--Neutral_Gray-8);
    font-size: 16px;
    line-height: 18%;
    height: 29px;
}


.nav__bottom ul{
    width: 534px;
}


/* ----------- Banner --------- */

.banner {
    position: relative;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center; 
}

.banner__description {
    width: 100%;
    text-align: center;
    width: 868px;
    height: 224px;
}
.banner__description h1 {
    color: var(--Primary_shade_7);
    margin-bottom: 24px;
    font-size: 56px;
    font-weight: bold;
    line-height: 120%;
}
.banner__description p {
    color: var(--Primary_shade_5);
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 180%;
}
.banner__description--buttons {
    margin-bottom: 30px;
}

.banner__description--buttons a:first-child {
    text-decoration: none;
    color: var(--Neutral_White);
    background-color: var(--Primary);
    padding: 10px 20px;
    border-radius: 12px;
    margin: 0 10px;
}

.banner__description--buttons a:last-child {
    text-decoration: none;
    color: var(--Neutral_black-10);
    border: 1px solid var(--Neutral_Gray-8);
    padding: 10px 20px;
    border-radius: 12px;
    margin: 0 10px;
}


/* banner__image  */


.banner__image--main {
    width: 1016px;
    height: 588px;
    border-radius: 24px;
}

.banner__image--top, .banner__image--bottom {
    position: absolute;
}

.banner__image--top {
    width: 287px; 
    height: 465px;
    top: 153px;
    right: 6px;
}

.banner__image--bottom {
    width: 447px; 
    height: 279px;
    bottom: -100px;
    left: -9px;
}



/* ----/// Invesment Container ////----*/

.invesment__items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.invesment__items--item {
    position: relative;
    margin: 0 20px;
    width: 392px;
    height: 56px;
}


.invesment__items--item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color:var(--Secondry_tint3);
    border-radius: 50%;
    z-index: -1;
}

.item-text {
    width: 321px;
    height: 62px; 
    font-size: 26px;
    position: relative;
    color: var(--Neutral_black-10);
}

/* ----/// Inestructionts ////----*/

.inestructionts {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.inestructionts__card {
    width: 392px;
    padding: 10px 20px;
    margin: 20px auto;
    position: relative;
    height: 269px;
}

.inestructionts__card--right::after {
    background-color: var(--Primary_tint_3);
}

.inestructionts__card--center::after {
    background-color:var(--Primary_tint_5);
}

.inestructionts__card--left::after {
    background-color:var(--Primary_shade_8);
}

.inestructionts__card--image{
    width: 275px;
    height: 172px;
}

.inestructionts__card--image img {
    width: 100%;
    height: 100%;
}


.inestructionts__card::after{
    content: '';
    position: absolute;
    width: 329px;
    height: 137px;
    top: 45px;
    border-radius: 15px;
    z-index: -1;
    left: 73px; 
}


.inestructionts__card--text h5 {
    position: absolute;
    color: var(--black);
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    line-height:140%;
}


/* ----/// Categories ////------*/

.categories__title h4{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: start;
}

.categories__title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--Neutral_Gray-5);
    margin-bottom: 10px;
    text-align: right;
}

.categories__title::after {
    content: "";
    margin: 10px;
    width: 1058px;
    height: 1px;
    background-color: var(--Neutral_Gray-2);
}
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.categories__first , .categories__secound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 189px;
}

.frame {
    width: 96px;
    height: 141px;
    margin: 0px 35px;
}

.frame img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
}

.frame label{
    font-size: 14px;
    line-height: 180%;
    text-align: center;
    color: var(--Neutral_Gray-5);
}


/* ----/// Popular Companies ////---- */
.popular__companies {
    width: 1440px;
    height: 605px;
}

.curved-background {
    background-image: url(/image/Banner.png);
    background-size: cover;
    color: white;
    height: 470px;
    width: 100%;
}


.popular__companies--title {
    font-size: 24px;
    text-align: start;
    padding-top: 60px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin-top: 124px;
}


.card {
    background-color: var(--Neutral_White);
    border-radius: 24px;
    text-align: right;
    width: 288px;
    height: 425px;
    box-shadow: 0 2px 4px var(--Neutral_Gray-1);

}

.card img {
    width: 100%;
    height: 134px;
    

}

.card-content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.card-content img {
    width: 72px;
    height: 72px;
    margin-top: -30px;
}

.card-content .details {
    margin: 0 15px;
    width: 168px;
    height: 51px;
}
.card-content .details h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 180%;
    color: var(--Neutral_Gray-7);
}

.card-content .details p{
    color: var(--Neutral_Gray-5);
    font-size: 14px;
    line-height: 180%;
}


.stats {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5px;
}

.stat {
    text-align: start;
    border: 1px solid var(--Neutral_Gray-1);
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 10px;
}

.stat h4 {
    text-align: right;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--Neutral_Gray-7);
    line-height: 180%;
}

.stat p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--Primary);
    line-height: 180%;
}

.description {
    margin:15px 10px;
}

.description p {
    font-size: 14px;
    font-weight: bold;
    line-height: 180%; 
    color: var(--Neutral_Gray-6);
    

}

.card-bottom {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px 10px;
}

.card-bottom .location h4 {
    text-align: right;
    font-size: 14px;
    line-height: 180%;
    color: var(--Neutral_Gray-4);
}

.card-bottom .star h4 {
    text-align: left;
    font-size: 16px;
    line-height: 180%;
    color: var(--Neutral_Gray-6);
}



/* --/// Career Opportunities ////-- */

.career__opportunities {
    overflow: hidden;
    height: 291px;
    padding-top: 50px;
}

.career__opportunities--title h4{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
    color: var(--Neutral_Gray-5);
    margin-bottom: 10px;
    text-align: right;
}

.career__opportunities--title h4::after {
    content: "";
    flex-grow: 1;
    margin-right: 10px;
    height: 1px;
    background-color: var(--Neutral_Gray-2);
    width: 1059px;
    margin-top: 20px;
}

.career__opportunities--slider {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.slider__card {
    width: 216px;
    height: 143px;
    background-color: var(--Third);
    border-radius: 24px;
    padding: 15px;
    text-align: center;
    
}

.slider__card img {
    width: 50px;
    height: 50px;
    margin-top: -30px;
    box-shadow: 0 2px 4px var(--Neutral_Gray-1);
}

.slider__card h4 {
    margin: 0;
    font-size: 18px;
    line-height: 180%;
    color: var(--Neutral_Gray-7);
}

.slider__card p {
    margin: 5px 0 0;
    font-size: 12px;
    color: var(--Primary);
}


.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.nav-button {
    cursor: pointer;
    font-size: 20px;
    color: #888;
    user-select: none;
}

/* --/// Laest News ////-- */

.news__section {
    background-image: url(/image/Banner.png);
    background-size: cover;
    height: 419px;
    width: 100%;
}

.news__section--header {
    padding-top: 95px;
    
}
.news__section--header h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    color: var(--Neutral_White);
    text-align: right;
}

.news__section--view-all {
    color: var(--Neutral_White);
    text-decoration: none;
    float: left;
    font-size: 18px;
    line-height: 180%;
}

.news__section--cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 151px;
    margin-right: 138px;
}

.news-card {
    width: 392px;
    height: 429px;
    background-color: var(--Neutral_White);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 194px;
    object-fit: cover;
}

.news__section--content {
    padding: 15px;
    height: 188px;
}

.news__section--categories {
    font-size: 14px;
    font-weight: bold;
    line-height: 180%;
    color: var(--Neutral_Gray-5);
}

.news__section--title h6 {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    line-height: 160%;
    color: var(--Neutral_Gray-7);
    margin: 10px 0;
}

.news__section--description p{
    font-size: 14px;
    color: var(--Neutral_Gray-5);
    margin-bottom: 10px;
}

.news__section--bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--Neutral_Gray-5);
    margin: 20px 0;
}

.news__avatar {
    margin: 0 10px;
}

.news__avatar img{
    width: 28px;
    height: 28px;
}

.news__avatar span{
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    color: var(--Neutral_Gray-4);
}


.news__date span{
    font-size: 14px;
    line-height: 180%;
    text-align: left;
    color: var(--Neutral_Gray-4);

}


/* --/// Events ////-- */

.events {
padding-top: 227px;
}


.events__title h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    color: var(--Neutral_Gray-5);
}

.events__title span {
    font-size: 18px;
    line-height: 180%;
    color: var(--Neutral_Gray-5);
}

.events__title--line {
    display: inline-block;
    width: 70%;
    height: 1px;
    background-color: var(--Neutral_Gray-5);
    vertical-align: middle;
}


.events__cards {
    width: 100%;
    height: 448px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.events__card {
    width: 600px;
    height: 208px;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.events__card--image img{
    width: 242px;
    height: 208px;
}


.events__card--content {
    padding: 10px;
    text-align: right;
    flex: 1;
}

.events__card--title {
    margin-bottom: 10px;
}

.events__card--title h5{
    font-size: 20px;
    font-weight: bold;   
    line-height: 140%;
    color: var(--Neutral_Gray-7);
}
.events__card--description p {
    font-size: 16px;
    color: var(--Neutral_Gray-5);
    line-height: 180%;
    margin-bottom: 10px;
}

.events__card--bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 180%;
    color: var(--Neutral_Gray-5);
}

.events__card--bottom span {
    text-align: right;
    font-size: 14px;
    line-height: 180%;
    color: var(--Neutral_Gray-5);
}

.events__title span , .events__title h4 {
    display: inline-block;
    margin: 0 10px;
}


/* -----//// Ù‘Footer /////-----*/

.footer {
    background-image: url(/image/footer.png);
    background-size: cover;
    color: var(--Neutral_White);
    position: relative;
    text-align: center;
    width: 100%;
    height: 433px;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 248px;
    text-align: right;
    gap: 20px;
    padding-top: 97px;
    
}

.footer__content--column {
    width: 200px;
    height: 178px;
}

.footer__content--column h6 {
    color: var(--Neutral_White);
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 140%;
}

.footer__content--column ul {
    list-style: none;
    padding: 0;
}

.footer__content--column ul li {
    margin-bottom: 10px;
}

.footer__content--column ul li a {
    color: var(--Neutral_White);
    text-decoration: none;
    font-size: 14px;
    line-height: 180%;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.newsletter button {
    padding: 10px 20px;
    color: var(--Neutral_White);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.address {
    
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: var(--Neutral_White);
    text-decoration: none;
    font-size: 18px;
}

.footer__content--bottom {
    text-align: right;
    width: 706px;
    height: 90px;
    padding-right: 100px;
}

.footer__content--bottom img {
    width: 132px;
    height: 16px;
    margin: 10px;
}

.footer-bottom {
    background-color: var(--Primary_shade_7);
    margin-top: 44px;
    font-size: 16px;
    color: var(--Neutral_White);
}