@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Background-First: #f0f4f8;
  --background-Second: #f0f4ff;
  --background-Third: #2563eb;
  --Second-ColorText: #000000;
  --border: #bdbdbd;
  --White: #fff;
  --error-Color: #f53d3d;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--Background-First);
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  color: var(--Second-ColorText);
}


.form-fild span {
  color: var(--error-Color);
}

label {
  display: block;
  margin: 5px;
  color: var(--Second-ColorText);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--border);
  background: var(--White);
  color: var(--Second-ColorText);
  border-radius: 5px;
}

button {
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  background-color: var(--background-Third);
  border: none;
  border-radius: 5px;
  color: var(--White);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.error {
  color: red;
  font-size: 0.8em;
}
